streamlit
google-cloud-aiplatform
pandas
numpy
python-dotenv
streamlit-js-eval
st-pages
PyMuPDF
streamlit_pdf_viewer
ipython
google-cloud-logging
scikit-learn
langchain-pinecone
langchain 
langchain-community 
xmltodict
pubmed-api
chroma
langchain-chroma
langchain-google-genai
pypdf